@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Italiana&family=Italianno&family=Outfit:wght@100..900&display=swap');@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*{
    font-family: "Outfit", sans-serif;
}
.italia{
    font-family:"DM Serif Display", serif;
}

html{
  min-height: 100vh;
  max-height: 100%;
}

@theme{
  --color-primary:#8b40ed;
  --color-secondry:#ed40b1;
  --color-text:#242424;
}

@utility container-center{
    width:90%;
    margin-inline:auto;
  }